* {
	padding: 0;
	margin:0;
	font-family: arial,sans-serif;
	font-size: small
}


/*I started styling the results div
early because I did not want to go back and edit the html after the page is done*/
.result {
	width:600px;

}
.result  .url, .result  a, .result i, .result .date, .result .result-body {
	display:inline;


}

.bold {
	font-weight: bold;
}
.video-preview {
	display: inline-block;
	float:left;
}
.inside-wrapper {
	display: inline-block;
	float:right;
}


.G {
    background: url("https://www.google.com//images/nav_logo242.png") no-repeat;
    background-position: -24px 0;
    width: 28px;
    height:45px;


  
}
.o1, .o2, .o3, .o4, .o5, .o6, .o7, .o8, .o9, .o10 {
	background: url("https://www.google.com//images/nav_logo242.png") no-repeat;
    width: 20px;
    height:30px;

}
.o1 {
	background-position: -53px 0;
}
.o2, .o3, .o4, .o5, .o6, .o6, .o7, .o8, .o9, .o10 {
	background-position: -74px 0;
}
.gle {
	background: url("https://www.google.com//images/nav_logo242.png") no-repeat;
	background-position: -96px 0;
    width: 71px;
    height:40px;
    margin-top: 10px
}
.gleLink {
	margin-bottom: : 10px;
	position: relative;
}
table tr td div:hover {
	cursor: pointer;
}
td {
	text-align: center;
}
li {
	list-style: none
}
/* started stying the header of the page */
.top-part {
	background-color: #fafafa;
	border-bottom: 1px solid #ebebeb;
	width:100%;
}
.logo img {
	width:120px;
	height:44px;
	display: block;
	float: left;
	margin: 24px 0 0 13px;
}
.navigation {
	
	display:inline-block;
	float: right;
	margin: 35px 25px 0 0;

}
.navigation li {
	display: inline;
	margin: 8px;

}
.connect {
	background-color: #4285f4;
	padding: 7px 12px;
	color: white;
	font-weight: bold;
	border-radius: 3px;
	text-decoration: none
}
.connect:visited {
	color: white;
}

.connect:hover {
	text-decoration: none;
}
.more {
	font-size: 17px;
	color: #777;
	vertical-align: middle;
}
.more:hover {
	color: #333;
}
.search-box {
	width:auto;
	display: inline-block;
	width: 50%;

}
.search-box li {
	display: inline;
}	

.search-box ul {
	display: inline;
}
input {
	position: relative ;
	margin: 20px 0 0 15px;
	width: 630px;
	height: 45px;
	border: 1px solid #ebebeb;
	box-shadow: 0 2px 2spx 1px #ccc;
	padding: 0 15px;
	font-size: 16px
}
.fa-keyboard {
	font-size: 18px
}
.microphone-icon {
	width: 24px;
	height: 27px;
}
.fa-search {
	color:#4285f4;
	font-size: 20px;
}